// Colours
$color-primary-light-1: #A5B1C0;
$color-primary-light-2: #8192A8;
$color-primary: #647B98;
$color-primary-dark-1: #4A6587;
$color-primary-dark-2: #304E75;

$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;