// Reset
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This will define what 1 rem is
    font-size: 62.5%; // 1rem = 10px   10px / 16px = 62.5%
}

body {
    background: url('../img/background.png') $color-grey-light-1; 
    box-sizing: border-box; 
}

.section {
    padding: 3rem 0; 
}